ALTER TABLE IF EXISTS public.stock_transfers 
  ADD COLUMN IF NOT EXISTS movement_type text CHECK (movement_type IN ('TRANSFER', 'PURCHASE', 'WASTE', 'ADJUSTMENT')),
  ADD COLUMN IF NOT EXISTS reason text;

UPDATE public.stock_transfers SET movement_type = 'TRANSFER' WHERE movement_type IS NULL;

CREATE OR REPLACE FUNCTION public.transfer_stock(
  p_item_id uuid,
  p_from_location_id uuid,
  p_to_location_id uuid,
  p_quantity numeric,
  p_user_id uuid,
  p_notes text,
  p_movement_type text DEFAULT 'TRANSFER',
  p_reason text DEFAULT NULL
)
RETURNS json
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
DECLARE
  v_current_qty numeric;
  v_transfer_id uuid;
BEGIN
  IF p_quantity <= 0 THEN
    RAISE EXCEPTION 'La cantidad debe ser mayor a cero';
  END IF;

  IF p_movement_type = 'TRANSFER' AND (p_from_location_id IS NULL OR p_to_location_id IS NULL) THEN
    RAISE EXCEPTION 'Transferencia requiere origen y destino';
  END IF;

  IF p_movement_type = 'PURCHASE' AND p_to_location_id IS NULL THEN
    RAISE EXCEPTION 'Compra requiere ubicación de destino';
  END IF;

  IF p_movement_type = 'WASTE' AND p_from_location_id IS NULL THEN
    RAISE EXCEPTION 'Pérdida requiere ubicación de origen';
  END IF;

  IF p_from_location_id IS NOT NULL THEN
    SELECT quantity INTO v_current_qty
    FROM public.item_stock_levels
    WHERE inventory_item_id = p_item_id AND location_id = p_from_location_id;

    IF v_current_qty IS NULL OR v_current_qty < p_quantity THEN
      RAISE EXCEPTION 'Stock insuficiente en la ubicación de origen';
    END IF;

    UPDATE public.item_stock_levels
    SET quantity = quantity - p_quantity, updated_at = now()
    WHERE inventory_item_id = p_item_id AND location_id = p_from_location_id;
  END IF;

  IF p_to_location_id IS NOT NULL THEN
    INSERT INTO public.item_stock_levels (inventory_item_id, location_id, quantity)
    VALUES (p_item_id, p_to_location_id, p_quantity)
    ON CONFLICT (inventory_item_id, location_id)
    DO UPDATE SET quantity = item_stock_levels.quantity + p_quantity, updated_at = now();
  END IF;

  INSERT INTO public.stock_transfers (
    inventory_item_id, 
    from_location_id, 
    to_location_id, 
    quantity, 
    user_id, 
    notes,
    movement_type,
    reason
  )
  VALUES (
    p_item_id, 
    p_from_location_id, 
    p_to_location_id, 
    p_quantity, 
    p_user_id, 
    p_notes,
    p_movement_type,
    p_reason
  )
  RETURNING id INTO v_transfer_id;

  RETURN json_build_object('success', true, 'transfer_id', v_transfer_id);
EXCEPTION
  WHEN OTHERS THEN
    RETURN json_build_object('success', false, 'error', SQLERRM);
END;
$$;
